.nav-container{
    width: 100vw;
    height: 15vh;
    background-color: #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
}
.nav-logo{
    width: 90px;
    height: 50px;
}
.nav-items{
    width: 200px;
    display: flex;
    gap: 22px;
}
.nav-item{
    height: 28px;
    font-family: 'Roboto';
}

.logout {
  display: flex;
  align-items: center; 
  cursor: pointer;
}

.logout-icon {
  width: 25px;
  height: 25px;
  margin-bottom: 10px;
}

.logout-text {
  font-size: 16px;
}
