.footer-container{
    width: 100vw;
    height: 300px;
    background-color: #003F00;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.footer-text{
    color: #fff;
    font-size: 20px;
    font-family: 'Roboto';
}
.footer-icon-container{
    color: #fff;
    display: flex;
    gap: 10px;
}
.footer-text-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-terms-and-condition-text{
    color: #fff;

}