.login-container {
  height: 100vh;
  position: relative;
}

.bg-layer {
  position: absolute;
  left: 0;
  width: 100%;
  height: 25%;
  background-size: cover;
  background-position: center;
}

.bg1 {
  top: 0;
  background-image: url('https://res.cloudinary.com/dx8rhno8y/image/upload/v1769859675/Rectangle_6989_1_xcmuma.png');
}
.bg2 {
  top: 25%;
  background-image: url('https://res.cloudinary.com/dx8rhno8y/image/upload/v1769859676/Rectangle_6989_oyltgd.png');
}
.bg3 {
  top: 50%;
  background-image: url('https://res.cloudinary.com/dx8rhno8y/image/upload/v1769859676/Rectangle_6990_1_b15pn3.png');
}
.bg4 {
  top: 75%;
  background-image: url('https://res.cloudinary.com/dx8rhno8y/image/upload/v1769859676/Rectangle_6990_lomje1.png');
}

.login-form {
  height: 50vh;
  position: relative;
  z-index: 10;
  min-width: 280px;
  max-width: 340px;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  padding: 24px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.login-logo {
  height: 85px;
  width: 119px;
}
.username {
  height: 20px;
  width: 270px;
  font-weight: 400;
  color: #333333;
}
.password {
  height: 20px;
  width: 270px;
  font-weight: 400;
  color: #333333;
}

.input {
  width: 270px;
  height: 40px;
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: #64748b;
  padding-top: 8px;
  padding-left: 12px;
  padding-right: 8px;
  padding-bottom: 8px;
  gap: 24px;
}
.check-box-container{
    align-self: flex-start;
}
.login-button {
  width: 271px;
  height: 40px;
  border-style: solid;
  border-width: 0;
  border-radius: 8px;
  color: #b3b3b3;
}


@media (min-width: 1024px) {
  .bg-layer {
    width: 50%;
    height: 50%;
  }

  /* Top row */
  .bg1 { top: 0; left: 0; }
  .bg2 { top: 0; left: 50%; }

  /* Bottom row */
  .bg3 { top: 50%; left: 0; }
  .bg4 { top: 50%; left: 50%; }
<<<<<<< HEAD

  .login-form {
      height: 80vh;
      width: 100vw;
  }
=======
>>>>>>> 1efc2fbd45cb6869cf430eeae1e0c0c0c788bf4a
}
